{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block messages %}
    {{bloc.super}}
    {% for message in form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock messages %}


{% block content %}
<form method="post" action="{{ request.path }}">
<h1>Election configurations</h1>
    {% crispy form %}

    {% if not election_is_occurring %}
        <input type="submit" class="btn btn-primary" value="Save">
    {% endif %}

</form>

{% endblock content %}
