{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

<!-- {% block messages %}
    {{bloc.super}}
    {% for message in form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock messages %} -->

{% block content %}
<style type="text/css">
h2 {
    color:#FF0000;
}
</style>
<h2>The Election is going on right now. You cannot change the configuration.</h2>
<form method="post" action="{{ request.path }}">
    {% crispy form %}
</form>

{% endblock content %}
