{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block messages %}
    {{bloc.super}}
    {% for message in form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock messages %}

{% block extrahead %}
    {{ block.super }}
    <script>
        $( document ).ready(function() {
            $('#id_start_time').datetimepicker({
                format:'Y-m-d H:i',
            });
        });
        $( document ).ready(function() {
            $('#id_end_time').datetimepicker({
                format:'Y-m-d H:i',
            });
        });
    </script>

{% endblock %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item">Election</li>
          <li class="breadcrumb-item active" aria-current="page">Election Configuration</li>
        </ol>
    </nav>


    <form method="post" action="{{ request.path }}">
        {% crispy form %}

        {% if not election_is_occurring %}
            <input type="submit" class="btn btn-primary" value="Save">
        {% endif %}

    </form>

{% endblock content %}
