{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About us</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="jumbotron">
    <h1 class="jump text-center">Development Team</h1>
</div>

<div class="row">
  <div class="col-md-12">
  <table class="table table-stripes table-hover">
      <thead>
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>104934797</td>
          <td>Fabio Ribeiro Santiago</td>
          <td><a href="mailto:santia11@uwindsor.ca">santia11@uwindsor.ca</a></td>
        </tr>
        <tr>
          <td>105099194</td>
          <td>Sarath Pulikkal</td>
          <td><a href="mailto:pulikka@uwindsor.ca">pulikka@uwindsor.ca</a></td>
        </tr>
        <tr>
          <td>105146209</td>
          <td>Munish</td>
          <td><a href="mailto:munish@uwindsor.ca">munish@uwindsor.ca</a></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
{% endblock content %}
