{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<style>
    .card {font-family: monospace; font-size: 13px;}
</style>
{% endblock extrahead %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item">Election</li>
            <li class="breadcrumb-item active" aria-current="page">Block Chain</li>
        </ol>
    </nav>
{% endblock breadcrumb %}


{% block content %}
<div class="row">
    {% for bblock in bblock_list %}
        <div class="col-md-6">
            <div class="mb-3">
                <div class="card text-white bg-success">
                    <div class="card-header">Parent hash: {{bblock.parent_hash}}</div>
                    
                        <ul class="list-group text-white bg-success">
                            <li class="list-group-item text-white bg-success">
                                <h6 class="card-subtitle">Database hash:</h6>
                                <a href="{% url 'database_hash' bblock_id=bblock.id %}" class="text-white" target="_blank">
                                        {{bblock.hash_of_database_hash }}
                                </a>
                            </li>
                            <li class="list-group-item text-white bg-success">
                                <h6 class="card-subtitle">Source code hash:</h6>
                                <a href="{% url 'source_code_hash' bblock_id=bblock.id %}" class="text-white" target="_blank">
                                    {{bblock.hash_of_source_code_hash }}
                                </a>
                            </li>
                            <li class="list-group-item text-white bg-success">
                                <h6 class="card-subtitle">Election results:</h6>
                                {{bblock.candidate_votes}}
                            </li>
                            <li class="list-group-item text-white bg-success">
                                <h6 class="card-subtitle">Electors who voted:</h6>
                                {{bblock.electors}}
                            </li>
                            <li class="list-group-item text-white bg-success">
                                Total of votes: {{bblock.total_votes}}
                            </li>
                            <li class="list-group-item text-white bg-success">
                                Block generated time: {{bblock.timestamp_iso}}
                            </li>
                        </ul>
                    
                    <div class="card-footer">Block hash: {{bblock.block_hash}}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'block_add' %}" class="btn btn-primary">Add Block</a>
    </div>
</div>
   
{% endblock content %}
