{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<style>
    .card {font-family: monospace; font-size: 13px;}
</style>
{% endblock extrahead %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item">Election</li>
            <li class="breadcrumb-item active" aria-current="page">Block Chain</li>
        </ol>
    </nav>
{% endblock breadcrumb %}


{% block content %}
<style>
    .breadcrumb{
        background-color:#383636;
        color:#ffffff;
    }
</style>
<div class="row">
    {% for bblock in bblock_list %}
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Parent hash: {{bblock.parent_hash}}</div>
                <div class="card-body">
                    <ul>
                        <li>Database hash:{{bblock.hash_of_database_hash }}</li>
                        <li>Source code hash: {{bblock.hash_of_source_code_hash }}</li>
                        <li>Election results: {{bblock.candidate_votes }}</li>
                        <li>Electors: {{bblock.electors}}</li>
                        <li>Total of votes: {{bblock.total_votes}}</li>
                        <li>{{bblock.timestamp_iso}}</li>
                    </ul>
                    <!--
                    <p class="card-text">{{bblock.database_hash}}</p>
                    <p class="card-text">{{bblock.souce_code_hash}}</p>
                    <p class="card-text">{{bblock.electors}}</p>
                    <p class="card-text">{{bblock.candidate_votes}}</p>
                    <p class="card-text">{{bblock.total_votes}}</p>
                    -->
                </div>
                <div class="card-footer">Block hash: {{bblock.block_hash}}</div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'block_add' %}" class="btn btn-primary">Add Block</a>
    </div>
</div>

{% endblock content %}
